

    h1 {
    color: #100101;
    text-align: center;
    }

    button {
        color: rgb(19, 151, 156);
    }

    body{
        background-color:cadetblue;
        text-align: center;
    }

    .x {
        text-align: center;
    }